<?xml version="1.0"?>
<launch>
    <param name ="/use_sim_time" value="true"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find mlmapping)/launch/config/mlmapping.rviz" />
    <node pkg="mlmapping" type="visualization" name="visualization" output="screen" />

    <arg name="node_start_delay"  default="1.0" />
    <param name="/mlmapping_configfile" type="string" value="$(find mlmapping)/launch/config/gazebo_iris_depth.yaml"/>

    <node pkg="nodelet" type="nodelet"
          name="mlmapping_nodelet_manager" args="manager" output="screen">
          <param name="num_worker_threads" value="4" />
    </node>

    <node pkg="nodelet" type="nodelet" args="load mlmapping/AwarenessMapNodeletClass mlmapping_nodelet_manager"
        name="awareness_loader" output="screen"
        launch-prefix="bash -c 'sleep 1; $0 $@' ">
        <remap from="/mlmapping/pc"          to="/iris/camera/depth/points"/>
        <remap from="/mlmapping/pose"        to="/iris/pose"/>
    </node>

    <node pkg="nodelet" type="nodelet" args="load mlmapping/LocalMapNodeletClass mlmapping_nodelet_manager"
        name="localmap_loader" output="screen">
    </node>

</launch>
